



<ul id="category-list">
<% unless @categories.empty? %>
  <li class="listheading"> <div class="category-name"><%= "#{t('active_category')}" %> </div> </li>
    <%- @categories.each do |c| -%>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= c.name %> (<%= c.prefix %>)</div>
        <div class="category-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_category", :id=>c.id} %></div>
        <div class="category-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_category", :id=>c.id},:confirm=>"#{t('delete_confirm_msg')}" %></div>
      </li>
     <% end %>
     <% unless @inactive_categories.empty? %>
      <li class="listheading"><div class="category-name"><%= "#{t('inactive_category')}" %></div></li>
    <%- @inactive_categories.each do |c| -%>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= c.name %> (<%= c.prefix %>)</div>
        <div class="category-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_category", :id=>c.id} %></div>
        <div class="category-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_category", :id=>c.id},:confirm=>"#{t('delete_confirm_msg')}" %></div>
      </li>
     <% end %>
     <% end %>
  <% else %>
<p class="flash-msg"><%= "#{t('no_category_record_found')}" %></p>
  <% end %>
</ul>

 
