


<ul id="grade-list">
  <% unless @grades.empty? %>
    <li class="listheading"><div class="grade-name"><%= "#{t('active_grade')}" %></div></li>
    <% @grades.each do |g| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="grade-name"><%= g.name %>(<%= g.priority %>)</div>
        <div class="grade-edit"><%= link_to "#{t('edit_text')}", :action => "edit_grade", :id=>g.id %></div>
        <div class="grade-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_grade", :id=>g.id}, :confirm => "#{t('delete_confirm_msg')}" %></div>
      </li>
    <% end %>
    <% unless @inactive_grades.empty? %>
      <li class="listheading"><div class="grade-name"><%= "#{t('inactive_grade')}" %></div></li>
      <%- @inactive_grades.each do |c| -%>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="grade-name"><%= c.name %> (<%= c.priority %>)</div>
          <div class="grade-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_grade", :id=>c.id} %></div>
          <div class="grade-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_grade", :id=>c.id},:confirm=>"#{t('delete_confirm_msg')}" %></div>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <p class="flash-msg"> <%= t('no_employee_grades_record_found') %></p>
  <% end %>
</ul>