

<br/>

<% form_remote_tag   :url => {:action => 'create_payslip_category'},
  :update => "individual-payslip-categories-list" do %>
  <%= hidden_field_tag :employee_id, @employee.id %>
  <%= hidden_field_tag :salary_date, @salary_date %>
  <%= error_messages_for "created_category",:header_message =>nil  %>
  <div class="label-field-pair">
    <label for="category_name"><%= t('name') %></label>
    <div class="text-input-bg"> <%= text_field_tag :name %> </div>
  </div>
  <div class="label-field-pair">
    <label for="category_amount"><%= t('amount') %></label>
    <div class="text-input-bg"> <%= text_field_tag :amount %> </div>
  </div>
  <div class="label-field-pair">
    <label for="category_amount"><%= t('is_deduction') %></label>
    <div class="text-input-bg"> <%= check_box_tag :is_deduction %>  </div>
  </div>
  <div id="new-category-submit-button">
    <%=submit_tag("► #{t('create_text')}") %>
  </div>


<% end %>