

<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
  <h1><%= t('employee_text') %></h1>
  <h3><%= t('leaving_school') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <div id="student-details">
    <h4> <%= @employee.first_name %> | <%= t('employee_number') %>  : <%= @employee.employee_number %> | <%= t('department') %> : <%= @employee.employee_department.name %> </h4>
  </div>

  <div class="extender"> </div>
  <% if @dependency.present? %>
    <% @dependency.each do |mod| %>
      <%= render :partial=> mod.classify.constantize.send("employee_dependency_hook") if mod.classify.constantize.respond_to?("employee_dependency_hook") %>
    <% end %>
  <% else %>
    <div id="remove-student">
      <p><%= t('paragraph') %></p>

      <% form_for :remove do |f| %>
        <div class="label-field-pair">
          <label for="remove_descr"><%= t('reason_for_leaving') %></label>
          <div class="text-input-bg"><%= f.text_field :status_description %></div>
        </div>

        <div id="submit-button">
          <%= submit_tag "► #{t('delete_text')}",:class=>'submit_button' %>
        </div>

      <% end %>
    </div>
  <% end %>

</div>