

<ul id="category-list">
<% unless @additional_details.empty? %>
  <li class="heading"> <%= t('field_name') %></li>
    <%- @additional_details.each do |c| -%>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= c.name %></div>
         <% if(c.status == true) %>
        <div class="category-status"> <%= t('active') %></div>
        <% else %>
        <div class="category-status"> <%= t('inactive') %></div>
        <% end %>
        <div class="category-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_additional_details", :id=>c.id} %></div>
        <div class="category-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_additional_details", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}" %></div>
      </li>
     <% end %>

  <% else %>
<p class="flash-msg"><%= t('no_additional_details') %></p>
  <% end %>
</ul>