

<div id="content-header">
  <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1><%= t('examination_results') %></h1>
  <h3><%= t('for') %> <%= @examtype.name %> (<%= t('class') %>: <%= @course.name %>)</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>

</div>

<div id="page-yield">
  <%= render :partial => "student_result_for_examtype" %>
</div>