

<div id="content-header">
<%= image_tag("/images/admission/admission_page_logo.jpg") %>
  <h1><%= t('class') %> : <%= @course.name%></h1>
  <h3><%= t('upcoming_exams') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% @upcoming_exams.each do |exam| %>
    <li>
      <%= exam.name %>
      (<%= exam.subject.name %>) -
      <%= I18n.l(exam.date,:format=>"%d %B, %Y") %>
    </li>
  <% end %>

</div>