

<% content_for :head do  %>
  <%= stylesheet_link_tag("observation_groups/show.css") %>
<% end %>
<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1>Formative Assessment</h1>
  <h3>Assessment Groups</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to_remote "#{t('new_text')}", :url=>{:action => 'new'} %></li>
  </ul>
</div>
<div id="page-yield">
  <div id="flash-box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div id="fa_groups">
    <%= render  :partial => 'fa_groups'%>
  </div>
  <div id="modal-box" style="display:none;"></div>
</div>