


<ul class="category-list">
  <% unless @categories.empty? %>
    <li class="heading"><%= t('earnings') %></li>
    <%- @categories.each do |c| -%>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= c.name %></div>
        <div class="category-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_category", :id=>c.id} %></div>
        <div class="category-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_category", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}" %></div>
        <% unless c.status == false %>
          <div class="category-edit"><%= link_to_remote "#{t('inactivate')}", :url => {:action => "inactivate_category", :id => c.id},
              :confirm=>"#{t('inactivate_confirm')}",
              :update => "category-list" %></div>
          <% else %>
          <div class="category-edit"><%= link_to_remote "#{t('activate')}", :url => {:action => "activate_category", :id => c.id},
              :confirm=>"#{t('activate_confirm')}",
              :update => "category-list" %></div>
          <% end %>
      </li>
    <% end %>
  <% else %>
    <p class="flash-msg"><%= t('earnings_msg') %></p>
  <% end %>
</ul>

<ul class="category-list">
  <% unless @deductionable_categories.empty? %>
    <li class="heading"><%= t('deductions') %></li>
    <%- @deductionable_categories.each do |c| -%>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= c.name %></div>
        <div class="category-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_category", :id=>c.id} %></div>
        <div class="category-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_category", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}" %></div>
        <% unless c.status == false %>
          <div class="category-edit"><%= link_to_remote "#{t('inactivate')}", :url => {:action => "inactivate_category", :id => c.id},
              :confirm=>"#{t('inactivate_confirm')}",
              :update => "category-list" %></div>
          <% else %>
          <div class="category-edit"><%= link_to_remote "#{t('activate')}", :url => {:action => "activate_category", :id => c.id},
              :confirm=>"#{t('activate_confirm')}",
              :update => "category-list" %></div>
          <% end %>
      </li>
    <% end %>
  <% else %>
    <p class="flash-msg"><%= t('deduction_msg') %></p>
  <% end %>
</ul>