

<% content_for :head do  %>
  <%= stylesheet_link_tag 'exam/index.css' %>
<% end %>
<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1>CCE Settings</h1>
  <h3>Co-Scholastic Settings</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to "Co-Scholastic Items",:controller=>'observation_groups' %></div>
      <div class="link-descr"><%= "Manage co-scholastic items" %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "Assign Co-Scholastic Items",:controller=>'observation_groups',:action=>'assign_courses' %></div>
      <div class="link-descr"><%= "Assign Co-Scholastic itesms to courses." %></div>
    </div>

    <div class="extender"></div>
  </div>
</div>

