

<div id="content-header">
  <%= image_tag("/images/admission/admission_page_logo.jpg") %>
  <h1><%= t('class') %> : <%= @course.name%></h1>
  <h3><%= t('send_email') %></h3>
  <div id="app-back-button">
    <%= link_to image_tag("/images/buttons/back.png", :border => 0), :back %>
  </div>
</div>

<div id="page-yield">

  <% form_for :email do |f| %>

    <div class="label-field-pair">
      <label for="email_subject"><%= t('subject') %></label>
      <div class="text-input-bg"><%= f.text_field 'subject' %></div>
    </div>

    <div class="label-field-pair">
      <label for="email_recipients"><%= t('recipient') %></label>
      <div class="text-input-bg"><%= select 'email', 'recipients', [["#{t('students')}","Students"], ["#{t('guardians')}","Guardians"], ["#{t('students')} & #{t('guardians')}","Students & Guardians"]] %></div>
    </div>

    <div class="message-area">
      <label for="email_message"><%= t('message') %></label>
      <%= f.text_area 'message' %>
    </div>

    <div class="submit-area">
      <%= image_submit_tag '/images/buttons/send.png' %>
    </div>

  <% end %>

</div>