
<% content_for :head do  %>
  <%= stylesheet_link_tag "exam/report_center"  %>
<% end %>
<div id="content-header">
  <img src="/images/examination/show_exam.png" alt="Exam" />
  <h1>CCE Reports</h1>
  <h3>Home</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <% if permitted_to? :create_reports, :cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Generate Reports" ,:action=>'create_reports' %></div>
        <div class="link-descr">Generate CCE Report from entered scores.</div>
      </div>
    <% end %>
    <% if permitted_to? :student_wise_report, :cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "View Student Report" ,:action=>'student_wise_report' %></div>
        <div class="link-descr">Student-wise CCE Report</div>
      </div>
    <% end %>
  </div>

</div>