

<div id="content-header">
  <%= image_tag("/images/show_timetable.png") %>
  <h1><%= t('timetable_text') %></h1>
  <h3><%= t('new_timetable') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div class="box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% if @timetable && @timetable.errors %>
      <div id="errorExplanation" class="errorExplanation">
        <% @timetable.errors.each do |e| %>
          <p>
            <%= t("#{e}") %>
          </p>
        <% end %>
      </div>
    <% end %>
    <% form_for :timetable do |f| %>
      <div class="label-field-pair">
        <label for="start_date"><%= t('start_date') %></label>
        <div class="text-input-bg">
          <%= f.date_select :start_date,:use_month_numbers=>true,:start_year=>1.years.ago.year,:end_year=>1.years.since.year,:order=>[:day,:month,:year],:include_blank => false %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="end_date"><%= t('end_date') %></label>
        <div class="text-input-bg">
          <%= f.date_select :end_date,:use_month_numbers=>true,:start_year=>1.years.ago.year,:end_year=>1.years.since.year,:order=>[:day,:month,:year],:include_blank => false %>
        </div>
      </div>


      <%= submit_tag "", :value => "► #{t('create_text')}", :class => "submit_button" %>
    <% end %>
  </div>
</div>