

<% content_for :head do  %>
  <%= stylesheet_link_tag("observation_groups/show.css") %>
<% end %>
<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1>CCE Weightages</h1>
  <h3>Index</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to_remote "#{t('new_text')}", :url => { :action => 'new'} %></li>
  </ul>
</div>
<div id="page-yield">
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><ul><li><%= flash[:warn_notice] %></li></ul> </div>
  <% end %>
  <div id="flash-box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div id="weightages"><%= render :partial => "weightages" %></div>
  <div id="modal-box" style="display:none;"></div>
</div>