

<% @employee_attendances.each do |leave_type,leave| %>
  <div class="type_name-<%= cycle('odd', 'even') %> "><%= leave_type  %>:</div>
  <% if leave == [] %>
    <div class="date-<%= cycle('odd', 'even') %>">
      <%= t('no_leaves_taken') %>
    </div>
  <% else %>
    <% leave.each do |l| %>
      <div class="date-<%= cycle('odd', 'even') %>">
        <%= I18n.l(l.attendance_date,:format=>:default) %>
        <% if l.is_half_day==true %>
          (<%= t('half_day') %>)
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>