

<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= t('exams_text') %></h1>
  <h3><%= t('generated_report') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <%  if permitted_to? :consolidated_exam_report,:exam %>
      <li><%= link_to "#{t('consolidated_report')}", :action=>'consolidated_exam_report',:exam_group=>@exam_group.id %></li>
    <% end %>
    <%  if permitted_to? :generated_report_pdf,:exam %>
      <li><%= link_to "#{t('pdf_report')}",
          {:controller => "exam", :action => "generated_report_pdf", :exam_group => @exam_group.id, :batch => @batch.id},:target => '_blank' %></li>
    <% end %>
  </ul>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <h3 align="center"><%= @student.batch.full_name %> - <%= @exam_group.name %></h3>
  <div id="student_list">
    <%= render  :partial=>"exam_wise_student_list" %>
  </div>
  <div id="exam_wise_report">
    <%= render :partial=>'exam_wise_report' %>
  </div>
  <div class="box">
    
  </div>
</div>
<script type="text/javascript">
  function set_active(){
    $$('.active-link').each(function(e){
      e.removeClassName('active-link');
    });
    this.addClassName('active-link')
  }
  function draw_report(){
    Element.show('loader')
    new Ajax.Request('/exam/generated_report',
    {asynchronous:true, evalScripts:true,
      parameters:'student='+this.id+'&exam_group=<%= @exam_group.id %>',onSuccess:function(request){Element.hide('loader')}
    })
  }
  document.observe("dom:loaded", function() {
    $$('.student-link').invoke('observe','click',draw_report);
    $$('.student-link').invoke('observe','click',set_active);
  });
</script>
