

<label class="head_label"><%= t('edit_attendance_for') %>  <span><%= @employee.first_name %></span></label>

<div id="ajax-edit">
  <% form_remote_for @attendance do |f| %>
  <br/>
    <div class="label-field-pair">
      <label for="leave_type"><%= t('leave_type') %></label>
      <div class="text-input-bg"><%= f.select :employee_leave_type_id, @leave_types.map {|c| [c.name, c.id]} %></div>
    </div>
    <div class="label-field-pair">
      <label for="leave_type"><%= t('reason_for_absence') %></label>
      <div class="text-input-bg"><%= f.text_field :reason %></div>
    </div>
    <div class="label-checkbox-pair">
      <label><%= f.check_box :is_half_day %><%= t('half_day') %></label>
    </div>
    <div class="extender"></div>
    <%= f.submit "#{t('submit')}", :class => 'submit-button', :confirm => "#{t('delete_confirm_msg')}" %>
  <% end %>
    <div id="delete-button"><%= link_to_remote("#{t('delete_text')}",
          :url => employee_attendance_path(@attendance),
          :method =>'delete',
          :confirm => "#{t('delete_confirm_msg')}") %></div>
<div id="form-errors"></div>
</div>
