

 <% form_remote_for :fee_discount, :url=>{:action=>"category_wise_fee_discount_create"} do |form|%>

<%#*<div id="form-errors"></div>%>

   <div class="label-field-pair">
    <label for="reason"><%= t('name') %></label>
    <div class="text-input-bg"><%= form.text_field :name %></div>
 </div>

 <div class="label-field-pair">
    <label><%= t('fee_category') %>:</label>
    <div class="text-input-bg">
      <%= select("","", @fee_categories.map { |item| [item.name, item.name] },
      {:prompt => "#{t('select_category')}" },
      {:onchange => "#{remote_function(:url => {:action => "fee_collection_batch_update"}, :with => "'id='+value")}"})
      %></div>
 </div>

  <div id ="batchs"></div>

 <div class="label-field-pair">
    <label for="reason"> <%= t('select_student_category') %>:</label>
    <div class="text-input-bg">
      <%= form.select(:receiver_id, @student_categories.map { |item| [item.name, item.id] },{:prompt=>"#{t('select_student_category')}"})%></div>
 </div>



    <div class="label-field-pair">
    <label for="reason"> <%= t('discount') %>(%) </label>
    <div class="text-input-bg"><%= form.text_field :discount %></div>
 </div>

    <div id="submit-button">
      <%=  form.submit "► #{t('create_text')}" %>
  </div>

    <% end %>