

<% form_remote_for :fee_discount, :url=>{:action=>:update_fee_discount, :id=>@fee_discount.id} do |form| %>

<div id="form-errors"> </div>

 <div class="label-field-pair">
    <label for="reason"><%= t('name') %></label>
    <div class="text-input-bg"><%= form.text_field :name %></div>
 </div>
 <div class="label-field-pair">
    <label for="reason"><%= t('discount') %>(%) </label>
    <div class="text-input-bg"><%= form.text_field :discount %></div>
 </div>

<div id="submit-button">
      <%=  submit_tag "► #{t('update')}",:class=>'submit_button' %>
  </div>

  <% end %>