

<label class="head_label"><%= t('edit_automatic_transaction') %><span></span></label>

<% form_remote_for :transaction_trigger,
    :url => {:action => 'transaction_trigger_update',:id=>@transaction_trigger.id} do |form| %>
<div id="form-errors"></div>

   <div class="label-field-pair">
    <div class="label-container"><%= form.label "#{t('category')}" %></div>
    <div class="input-container"><%= form.select :finance_category_id, @categories.map { |c| [c.name, c.id] } %></div>
   </div>

<div class="label-field-pair">
    <div class="label-container"><%= form.label "#{t('percentage')}" %></div>
    <div class="input-container"><%= form.text_field :percentage %></div>
   </div>

<div class="label-field-pair">
     <div class="label-container"><%= form.label "#{t('title')}" %></div>
    <div class="input-container"><%= form.text_field :title %></div>
   </div>

<div class="label-field-pair">
    <div class="label-container"> <%= form.label "#{t('description')}"%></div>
    <div class="input-container"> <%= form.text_field :description %></div>
   </div>

 <div id="modelbox-submit">
          <%=  submit_tag "► #{t('save')}",:class=>'submit_button' %>
  </div>
<% end %>
