

<% form_for :transaction do |form| %>
  <div id="create_user_form">

    <div class="label-field-pair">
      <label for="title"><%= t('title') %> : </label>
      <div class="text-field-bg"><%= form.text_field :title %> </div>
    </div>
    <div class="label-field-pair">
      <label for="description"><%= t('description') %> : </label>
      <div class="text-field-bg"><%= form.text_field :description %> </div>
    </div>


    <div class="label-field-pair">
      <label for="amount"><%= t('amount') %> : </label>
      <div class="text-field-bg"><%= form.text_field :amount %> </div>
    </div>
    <div class="label-field-pair">
      <label for="amount"><%= t('date_text') %> :</label>
      <div class="text-field-bg"><%= calendar_date_select_tag 'transaction[transaction_date]', I18n.l(Date.today,:format=>:default), :year_range => 5.years.ago..0.years.ago ,:popup=>:force%>
      </div>
    </div>
    <div class="label-field-pair">
      <label for="category"><%= t('category') %> :</label>
      <div class="text-input-bg"><%= select :transaction, :category_id, @categories.map { |c| [c.name, c.id] },:prompt=>t('select_a_category') %></div>
    </div>

    <%=  submit_tag "► #{t('save')}",:class=>'submit_button' %>
  </div>
<% end %>