



<div id="page-yield">

  <div class="hor_line"></div>
  <h2><%= t('assets_report') %></h2>
  <div class="hor_line"></div>


  <div class="extender"> </div>
  <div class="report">
    <% total_amount = 0 %>
    <div id="pdf-info">
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header"><td class="col-pdf"><%= t('sl_no') %></td><td class="col-pdf"> <%= t('asset') %></td><td class="col-pdf"> <%= t('created_at') %> </td><td class="col-pdf"><%= t('total_amount') %></td></tr>
        <% i = 0  %>
        <% c= 'even' %>
        <% @assets.each do |a| %>
          <% if a.is_inactive? %>
            <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              <td class="col-pdf"><%= i+=1 %></td>
              <td class="col-pdf"><%= a.title+" ( inactive )" %></td>
              <td class="col-pdf"><%= a.created_at.strftime("%d-%m-%Y") %></td>
              <td class="col-pdf"><%= @currency_type + " "%><%= a.amount%></td>
            </tr>
          <% else %>
            <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              <td class="col-pdf"><%= i+=1 %></td>
              <td class="col-pdf"><%= a.title %></td>
              <td class="col-pdf"><%= a.created_at.strftime("%d-%m-%Y") %></td>
              <td class="col-pdf"><%=  @currency_type + " "%><%= a.amount%></td>
            </tr>
          <% end %>
          <% total_amount+= a.amount%>
        <% end %>
        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
          <td class="col-pdf" colspan="3"><%= t('grand_total') %></td>
          <td class="col-pdf" colspan="1"><%=  @currency_type + " "%><%= total_amount%></td>
        </tr>
      </table>
    </div>

  </div>

</div>
