

<div id="content-header">
<%= image_tag("/images/show_finance.png") %>
  <h1><%= t('employee_salary_report') %></h1>
  <h3><%= t('payslip_for') %> <%= @monthly_payslips.first.active_or_archived_employee.full_name %> on <%= @salary_date %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">





<ul class="item-list">
  <li class="heading"><%= t('payslip_generated_for') %> <%= @monthly_payslips.first.active_or_archived_employee.full_name %></li>
</ul>
<ul class="item-list">
  <li class="heading"><%= t('salary') %>:</li>
  <% @monthly_payslips.each do |mp| %>
    <% unless mp.payroll_category.is_deduction == true %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="item-name"><%= mp.payroll_category.name  %> </div>
        <div class="item-edit"><span class="currency-type"><%= @currency_type %></span> <%="%.2f" %mp.amount.to_f  %></div>
      </li>
    <% end %>
  <% end %>
  <% unless @individual_payslips.empty? %>
    <% @individual_payslips.each do |pc| %>
      <%if  pc.is_deduction == false %>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="item-name"><%= pc.name %></div>
          <div class="item-edit"><span class="currency-type"><%= @currency_type %></span> <%="%.2f" %pc.amount %></div>
        </li>
      <% end %>
    <% end %>
  <% end %>
  <li class="list<%=cycle('odd', 'even')%>">
    <div class="item-name"><b><%= t('total_salary') %></b></div>
    <div class="item-edit"><b><span class="currency-type"><%= @currency_type %></span> <%="%.2f" %@salary[:net_non_deductionable_amount]  %></b></div>
  </li>
</ul>

<ul class="item-list">
  <li class="heading"><%= t('deductions') %>:</li>
  <% @monthly_payslips.each do |mp| %>
    <% unless mp.payroll_category.is_deduction == false %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="item-name"><%= mp.payroll_category.name  %></div>
        <div class="item-edit"><span class="currency-type"><%= @currency_type %></span> <%="%.2f" %mp.amount.to_f %></div>
      </li>
    <% end %>
  <% end %>
  <% unless @individual_payslips.empty? %>
    <% @individual_payslips.each do |pc| %>
      <%if  pc.is_deduction == true %>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="item-name"><%= pc.name %></div>
          <div class="item-edit"><span class="currency-type"><%= @currency_type %></span> <%="%.2f" % pc.amount %></div>
        </li>
      <% end %>
    <% end %>
  <% end %>
  <li class="list<%=cycle('odd', 'even')%>">
    <div class="item-name"><b><%= t('total_deductions') %></b></div>
    <div class="item-edit"><span class="currency-type"><b><%= @currency_type %></b></span> <b><%="%.2f" %@salary[:net_deductionable_amount] %></b></div>
  </li>
</ul>

<ul class="item-list">
  <li class="heading"><%= t('total') %>:</li>
  <li class="listodd">
    <div class="item-name"><b><%= t('net_salary') %></b></div>
    <div class="item-edit"><span class="currency-type"><b><%= @currency_type %></b></span><b> <%="%.2f" %@salary[:net_amount]%></b></div>
  </li>
</ul>



</div>
