

<div id="content-header">
<%= image_tag("/images/show_finance.png") %>
  <h1><%= t('fees_submission') %></h1>
  <h3><%= t('student_fees_submission') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <div class="box">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="link-box">
    <div class="link-heading"><%= link_to "#{t('fees_submission_by_course')}", :action => "fees_submission_batch" %> </div>
    <div class="link-descr"><%= t('fees_submit_by_each_course') %></div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to "#{t('fees_submit_for_student')}", :action => "fees_student_search" %> </div>
    <div class="link-descr"><%= t('submitting_fees_by_search') %></div>
  </div>

</div>
</div>
